.responseSection {
  border: 1px solid var(--text-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: var(--text-color);
}

.responseSection {
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .status {
    margin-bottom: 20px;
  }

  .status[data-status="green"] {
    color: #22c55e;
  }

  .status[data-status="orange"] {
    color: #f97316;
  }

  .status[data-status="red"] {
    color: #ef4444;
  }
}